/* PART I */
/*
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
*/

/* PART II */
/* .chart rect {
    fill: steelblue;
  }
  
  .chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
  } */


/* PART III */

  /* .bar {
    fill: steelblue;
  }
  
  .axis text {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  } */
  

  /* OTHER */
  svg {
  margin: 25px;
  }
  /* path {
    fill: none;
    stroke: #76BF8A;
    stroke-width: 3px;
  } */

  /* path {
    fill: none;
    stroke: orange;
    stroke-width: 1.5;
    stroke-linejoin: round;
    stroke-linecap: round;
  } */